<div id="main-one">
    <div>
        <div class="content-general">
            <h1 class="title">Top del Mes de Octubre</h1>
        </div>
        <div class="main-one-content">
            <div class="content-carrousel-cards">
                <div class="carrousel-cards">
                    <div class="card-item">
                        <div class="card">
                            <img class="" src="assets/img/98ea4207e23a2ea3e3af39ad641d88001533322009_main.jpg"
                                alt="" srcset="">
                            <h1 class="title-card-item">Dragon ball </h1>
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/MV5BMDI3ZDY4MDgtN2U2OS00Y2YzLWJmZmYtZWMzOTM3YWFjYmUyXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_.jpg"
                                alt="" srcset="">
                            <h1 class="title-card-item">One Piece</h1>
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/One_Piece.webp" alt="" srcset="">
                            <h1 class="title-card-item">One Piece</h1>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card">
                            <img class="" src="assets/img/98ea4207e23a2ea3e3af39ad641d88001533322009_main.jpg"
                                alt="" srcset="">
                            <h1 class="title-card-item">Dragon Ball</h1> 
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/MV5BMDI3ZDY4MDgtN2U2OS00Y2YzLWJmZmYtZWMzOTM3YWFjYmUyXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_.jpg"
                                alt="" srcset="">
                            <h1 class="title-card-item">Naruto</h1>
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/One_Piece.webp" alt="" srcset="">
                            <h1 class="title-card-item">Naruto</h1>
                            
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card">
                            <img class="" src="assets/img/98ea4207e23a2ea3e3af39ad641d88001533322009_main.jpg" alt="" srcset="">
                            <h1 class="title-card-item">One Piece</h1>
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/MV5BMDI3ZDY4MDgtN2U2OS00Y2YzLWJmZmYtZWMzOTM3YWFjYmUyXkEyXkFqcGdeQXVyNjAwNDUxODI@._V1_.jpg" alt="" srcset="">
                            <h1 class="title-card-item">One Piece</h1>
                        </div>
                        <div class="card">
                            <img class="" src="assets/img/One_Piece.webp" alt="" srcset="">
                            <h1 class="title-card-item">One Piece</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carrousel-arrows-cards">
                <button id="arrow-left"><i class="fas fa-chevron-left"></i></button>
                <button id="arrow-right"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>