<div id="main-two">
    <div class="content-general">
        <h1 class="title">De temporada</h1>
        <div class="card-large">
           
            <div class="image-card-large">
                <img class="" src="assets/img/One_Piece.webp" alt="" srcset="">
            </div>
            <div class="content-card-large">
                <div class="content-card">
                    <h2>ONE PIECE</h2>
                    <h3>Serie <span> - 240 mins</span></h3>
                    <p>Cuando la popular Hori y el sombrío Miyamura se conocen, revelan el lado oculto de sí mismos. ¿Podría ser esto el comienzo de algo nuevo?
                    </p>
                </div>
                <div class="btn-card-large">
                    <button class="btn-firs">VISUALIZAR</button>
                    <button class="btn-nth-child">VISUALIZAR</button>
                </div>
            </div>
        </div>

        <div class="card-large">           
            <div class="content-card-large">
                <div class="content-card">
                    <h2>ONE PIECE</h2>
                    <h3>Serie <span> - 240 mins</span></h3>
                    <p>Cuando la popular Hori y el sombrío Miyamura se conocen, revelan el lado oculto de sí mismos. ¿Podría ser esto el comienzo de algo nuevo?
                    </p>
                </div>
                <div class="btn-card-large">
                    <button class="btn-firs">VISUALIZAR</button>
                    <button class="btn-nth-child">VISUALIZAR</button>
                </div>
            </div>
            <div class="image-card-large">
                <img class="" src="assets/img/One_Piece.webp" alt="" srcset="">
            </div>
        </div>
    </div>
</div>